/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #afcfd7;
  --color-text-main: #000000;
  --color-primary: #000000;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
  /*--background-image: url("https://cdn.glitch.global/b336736c-bd83-4fdb-a0e3-cce43c85cc6a/gradient.jpg?v=1643152320670");*/
}

[data-theme='nightmare'] {
  --color-bg: #000000;
  --color-primary: #ff0000;
  --color-text-main: rgb(255, 0, 0);
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

#theme {
  background-color: var(--color-bg);
  color: var(--color-text-main);
}

/* Navigation grid */
.header, .footer {
  background-color: rgba(0, 0, 0, 0.8);
}


.navbar {
  border-bottom: 1px solid #FFFFFF;
}


.footer {
  margin: 1rem 0 0 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  border-top: 1px solid #ffffff;
  left: 0;
  bottom: 0;
}


.page a {
  color: #000000;
}

.page a:hover {
  text-decoration: none;
}

.header a:not(#hiddenLink):link, a:not(#hiddenLink):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000000;
  border-style: none;
  background-color: #ffffff;
  border-radius: 5px;
}

/*a:hover {
  background: var(--color-primary);
}*/

.links {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  /*background-color: var(--color-bg);*/
  margin: 0 ;
  padding: 0;
}

.wrapper {
  /*background-color: var(--color-bg);*/
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  /*margin: 0 1rem;*/
  margin: 0;
  padding: 0;
  min-height: 86vh;
}
.content {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Page titles */
h1 {
  color: var(--color-text-main);
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  padding: 0.5rem 0 0 0;
  text-align: center;
}
.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page {
  width: 100vw;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  cursor: pointer;
  padding-left: 3.5rem;
}

/* Instructions */
.home_text {
  margin: 1rem auto 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.home_text p {
  font-size: 1rem;
  padding-right: 10px;
}

h2 {
    color: white;
}

.carousel {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  padding: auto;
}

#socialMedia {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  
}

#aboutMe {
  justify-content: center;
  width: 100vw;
}

.carousel-item img {
  display: flex;
  object-fit: cover;
  max-width: 95vw;
  max-height: 475px;
  align-items: center;
  align-self: center;
}

.store, .counter {
  display: flex;
  width: 100vw;
  height: 100vh; 
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.shade {
  display: flex;
  position: absolute;
  z-index: 999;
  width: 640px;
  height: 380px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.specialButton {
  display: no-flex;
}

#hiddenLink {
  color: #212529 !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
  cursor: help;
}

#portfolio {
  align-items: center;
  text-align: center;
}

#expertise {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 1rem auto 0;
  padding: 1rem;
  width: 100vw;
}

.formError {
  color: red;
}